# Boolean to signal that the environment is Production (DEFAULTS TO FALSE)
IS_PROD=
# Name of Issues of JWT Token
HOST=DEMO
# Number of Trusted Proxies
PROXIES_COUNT=
# Postgres Server Host Address
DB_HOST=localhost
# Postgres Server Port
DB_PORT=5432
# Postgres Database Name
DB_NAME=ars
# Postgres Username
DB_USERNAME=root
# Postgres User Password
DB_PASSWORD=password
